/* Global Styles */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #001;
    display: flex;
}

/* Profile Section */
.profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
}

.profiles .top {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 0px;
}

.profiles .top .profiles-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid whitesmoke;
    margin-left: 0px;
}

.profiles .top img {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.profiles .top .para-detials p b {
    color: #810000;
}

.profiles .top .para-detials .text-muted {
    color: gray;
    margin-left: 10px;
}

.profiles p {
    font-size: 15px;
    margin: 0;
}

/* About Section */
.profiles .about h5 {
    color: #810000;
    margin-bottom: 10px;
}

.profiles .about p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profiles .about {
    margin: 10px;
    padding: 5px;
    margin-bottom: 15px;
}

.about p i {
    margin-left: 10px;
}

/* Subject Section */
.cont-skill {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

main {
    position: relative;
    margin-top: 1.4rem;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title button {
    padding: 7px;
    background-color: #810000;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 80px;
    border-radius: 10px 5px;
}

main .subjects > div {
    background-color: #810000;
    padding: 5px;
    margin-bottom: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 15px;
    margin-top: 1rem;
    box-shadow: white;
    transition: all 300ms ease;
}

main .subjects > div span {
    padding: .5rem;
    border-radius: 50%;
    color: whitesmoke;
    font-size: 30px;
}

main .subjects h3 {
    margin: 1rem 0 0.6rem;
    font-size: 15px;
    text-align: center;
}

main h2 {
    text-align: left;
    margin-left: 20px;
}

main .subjects .progress {
    position: relative;
    width: 89px;
    height: 89px;
    border-radius: 50%;
    margin: auto;
}

main .subjects svg circle {
    fill: none;
    stroke: darkblue;
    stroke-width: 8;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .subjects .eg svg circle {
    stroke-dashoffset: 25;
    stroke-dasharray: 210;
}

main .subjects .mth svg circle {
    stroke-dashoffset: 7;
    stroke-dasharray: 210;
}

main .subjects .cs svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 210;
}

main .subjects .cg svg circle {
    stroke-dashoffset: 0;
    stroke-dasharray: 210;
}

main .subjects .net svg circle {
    stroke-dashoffset: 5;
    stroke-dasharray: 210;
}

main .subjects .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .subjects small {
    margin-top: 1rem;
    display: block;
    text-align: center;
    font-size: 15px;
    margin-bottom: 1rem;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup .close {
    font-weight: bold;
    font-size: 29px;
    margin-top: 5px;
    margin-bottom: 9px;
    cursor: pointer;
    color: #810000;
}

.popup h3 {
    margin-bottom: 8px;
}

#popup {
    background-color: #001;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#cardForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

label {
    color: #810000;
    margin-bottom: 5px;
}

select,
input {
    color: #810000;
    padding: 5px;
    background-color: #810000;
    border: none;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}

/* Card Form Button */
button {
    grid-column: span 2;
    background-color: #810000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 15px 30px;
}

button:hover {
    background-color: #d32f2f;
}

/* Card Form Ends */

/* Card Form Popup */
.card-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #001;
    padding: 20px;
    border: 1px solid #ccc;
    width: 400px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-form h3 {
    text-align: center;
    margin-bottom: 10px;
    color: whitesmoke;
}

.card-form .form-design {
    margin-bottom: 15px;
}

.card-form label {
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.card-form input,
.card-form select {
    width: calc(100% - 20px);
    box-sizing: border-box;
    padding: 8px;
    margin-top: 5px;
}

.card-form .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-form button:first-child {
    margin: auto;
}

.card-form button:last-child {
    margin: auto;
}

/* Delete Card */
.subjects {
    display: flex;
    flex-wrap: wrap;
}

.eg {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    position: relative;
    width: 150px;
}

.eg.selected {
    border: 3px solid red;
    background-color: #ffe6e6;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.eg .delete-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 0, 0, 0.7);
    padding: 5px;
    cursor: pointer;
}

/*---------------------------------------------------
    Schedule Section  starts
 -------------------------------------------------------*/

/* Attendance list Section starts */

.attendance {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    margin-right: 25px;
}

.attendance-list {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #810000;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
}

/* text and the add button section*/
.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customButton button {
    color: gray;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    border-top: 0;
    border-bottom: 0;
    border-right: 4px solid gray;
    border-left: 4px solid gray;
    border-radius: 10px;
    border-right-radius: 30px;
    border-left-radius: 30px;
}

.customButton button i {
    margin-left: 5px;
    font-size: 14px;
    color: gray;
    font-weight: bold;
}

.attendance-list .cont .customButton button:hover {
    background: #810000;
    color: #fff;
    transition: 0.5s ease-in-out;
}
/* text and the add button section ends*/

.table-attend {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    width: 100%;
    overflow: hidden;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.table-attend thead tr {
    color: whitesmoke;
    background: black;
    text-align: left;
    font-weight: bold;
}

.table-attend th,
.table-attend td {
    padding: 5px 10px;
}

.table-attend tbody tr {
    border-bottom: 1px solid gray;
}

.table-attend tbody tr:nth-of-type(even) {
    background-color: gray;
}

.table-attend tbody tr.active {
    font-weight: bold;
    color: purple;
}

.table-attend tbody:last-of-type {
    border-bottom: 2px solid gray;
}
.center-text {
    text-align: center;
}

td i {
    color: #001;
    font-weight: bold;
    font-size: 20px;
}

.fa-pencil-alt {
    color: white;
    margin-right: 10px;
}

.table-attend button {
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border-top: 0.8px solid whitesmoke;
    border-bottom: 0.8 solid whitesmoke;
    border-right: 4px solid whitesmoke;
    border-left: 4px solid whitesmoke;
    border-radius: 10px;
    border-right-radius: 90px;
    border-left-radius: 90px;
}

.table-attend button:hover {
    background: black;
    color: #fff;
    transition: 0.5rem;
}

.option {
    background-color: #001;
}
/* Attendance List section ends*/

/*---------------------------------------------
   Update row Section starts 
------------------------------------------------*/
.popupForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: darkgray;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popupForm h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #001;
}

.first,
.second {
    margin-bottom: 15px;
}

/* Form styles */
#editForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#editForm label {
    font-weight: bold;
    grid-column: span 2;
    color: #810000;
}

/* input field for the time label */
#editPopup .time-section input {
    width: 200%;
  }

#editForm input,
#editForm select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 4px solid #001;
    border-radius: 2px 20px 2px 20px;
    text-align: center;
    color: #001;
}



#editForm .buttons {
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

#editForm button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

#editForm button:hover {
    background-color: #45a049;
}

/* Close button styles */
#editForm button[type="button"] {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#editForm button[type="button"]:hover {
    background-color: #123;
}

/*---------------------------------------------
   Update row Section ends 
------------------------------------------------*/

/*---------------------------------------------
   Add a new row Section starts 
------------------------------------------------*/
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: darkgray;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #001;
}

#addModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: darkgray;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#addModal h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #001;
}

/* Classes for the divs inside the form */
.first,
.second {
    margin-bottom: 15px;
}

/* Form styles */
#addForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#addForm label {
    font-weight: bold;
    grid-column: span 2;
    color: #810000; /* Updated color */
}
/* input field for the time label */
#addForm .time-section input {
    width: 200%;
  }

#addForm input,
#addForm select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 4px solid #001;
    border-radius: 2px 20px 2px 20px;
    text-align: center;
    color: #001;
}



#addForm .buttons {
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

#addForm button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

#addForm button:hover {
    background-color: #45a049;
}

/* Close button styles */
#addModal button[type="button"] {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#addModal button[type="button"]:hover {
    background-color: #123;
}

/*---------------------------------------------
   Add a new row Section ends 
------------------------------------------------*/