body {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
  }

.main .table__header {
    width: 100%;
    height: 7%;
    background-color: #fff4;
    padding: 0.5rem 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .table__header .log {
    padding: 10px;
    width: 90px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #fff4;
    border-radius: 10px 20px 10px 20px;
    /* font-weight: 800; */
    color: #000000;
    background-color: #800000;
    margin-right: 30px;
}

.main .table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 0.8rem;
    border-radius: 2rem;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
}

.main .table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 0.1rem 0.4rem #0002;
}

.main .table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.main .table__header .input-group input {
    width: 100%;
    padding: 0 0.5rem 0 0.3rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 20px;
}

  /* Attendance list Section starts */

.attendance {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    margin-right: 25px;
    width: 100%;
}

.attendance-list {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #810000;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
}

  /* text and the add button section*/
.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customButton button {
    color: gray;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    border-top: 0;
    border-bottom: 0;
    border-right: 4px solid gray;
    border-left: 4px solid gray;
    border-radius: 10px;
}

  .customButton button i {
    margin-left: 5px;
    font-size: 14px;
    color: gray;
    font-weight: bold;
}

.attendance-list .cont .customButton button:hover {
    background: #810000;
    color: #fff;
    transition: 0.5s ease-in-out;
}

  /* text and the add button section ends*/

.table-attend {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    width: 700px;
    overflow: hidden;
    height: 300px;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.table-attend thead tr {
    color: whitesmoke;
    background: black;
    text-align: left;
    font-weight: bold;
}

.table-attend th,
.table-attend td {
    padding: 5px 10px;
}

.table-attend tbody tr {
    border-bottom: 1px solid gray;
}

.table-attend tbody tr:nth-of-type(even) {
    background-color: gray;
}

.table-attend tbody tr.active {
    font-weight: bold;
    color: purple;
}

.table-attend tbody:last-of-type {
    border-bottom: 2px solid gray;
}

.table-attend button {
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;

    border-radius: 10px;
}

.table-attend button:hover {
    background: black;
    color: #fff;
    transition: 0.5rem;
}

.option {
    background-color: #001;
}

  /* Attendance List section ends*/

  .table-attend .edit {
    border: 0px;
  }

  /* Style for the delete button */
  .cancel,
  .save,
  .edit,
  .del {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border: none;
  }

  /* Style for all icons inside buttons */

  .save i,
  .cancel i {
    color: #fff;
    /* White text color for icons */
  }

  .edit i {
    color: darkblue;
  }

  .del i {
    color: #001;
    /* White text color for icons */
  }

  .del:hover {
    background-color: gray;
    /* Gray color on hover */
    color: gray;
  }

  /*---------------------------------------------
 Add a new row Section starts 
------------------------------------------------*/
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: darkgray;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .modal h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #001;
  }

  .addModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: darkgray;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .addModal h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #001;
  }

  /* Classes for the divs inside the form */
  .first,
  .second {
    margin-bottom: 15px;
  }

  /* Form styles */
  #addForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  #addForm label {
    font-weight: bold;
    grid-column: span 2;
    color: #810000;
    /* Updated color */
  }

  #addForm input,
  #addForm select {
   
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 4px solid #001;
    border-radius: 2px 20px 2px 20px;
    text-align: center;
    color: #001;
  }

  #addForm select option {
    background-color: #001;
    color: #810000;
    /* Updated color */
  }

  #addForm .buttons {
    grid-column: span 2;
    display: flex;
    justify-content: center;
  }

  #addForm button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }

  #addForm button:hover {
    background-color: #45a049;
  }

  /* Close button styles */
  #addModal button[type="button"] {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }

  #addModal button[type="button"]:hover {
    background-color: #123;
  }

  /*---------------------------------------------
 Add a new row Section ends 
------------------------------------------------*/
