*{
    margin: 0;
    padding: 0;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color:#001;
}

.profile{
    display: flex;
    align-items:center;
    gap:30px;
}

.profile h2{
    font-size: 20px;

}

.img-box{
    width: 50px;
    height: 50px;
    border-radius:  50%;
    overflow: hidden;
    border: 3px solid whitesmoke;
}

.img-box img{
    width: 100%;

}

.menu{
    background: #123;
    width:60px;
    height: 100vh;
    padding: 20px;
 /* to do the effect of the menu to be hidden and open automaticaly*/
    overflow: hidden; /
}

ul{
    list-style: none;
    position: relative;
    height: 95%;
}

ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .5s;

}

ul li a:hover, .active{
    background-color:#ffffff55;
}

.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.log-out a{
    background-color: darkred ;
}

ul li a i{
    font-size: 30px;

}