body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color: #f44949;
    margin-bottom: 5px;
}

/*-------------------------
  Table section starts
---------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #171822;
    border-radius: 8px;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
td{
    color:#f44949;
}

th {
    background-color: #f44949;
    color: white;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

.fas fa-pencil-alt{
    background-color:trasnparent;
}

/*---------------------
 Table section ends
-----------------------*/

/*-----------------------------
 Announcment Section starts
-------------------------------*/
.right {
    margin-top: 2rem;
    padding-left: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 10px;
    height: 150px;
    overflow-y: auto;
    /* scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #ccc transparent; For Firefox */
}

.right::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.right::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Roundness of the thumb */
}

.right::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the scrollbar track */
}

.right-down {
    position: absolute;
    top: 80px; /* Adjust as needed to leave space for the first container */
    right: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 10px;
    height: 80px;
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #ccc transparent; /* For Firefox */
}

.right-down::-webkit-scrollbar {
    width: 100px; /* Width of the scrollbar */
    height: 100px;
}

.right-down::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Roundness of the thumb */
}

.right-down::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the scrollbar track */
}

.right .announcements h2 {
    margin-bottom: .8rem;
}

.right .announcements .updates {
    padding: 10px;
    box-shadow: 5px 4px 5px #f44949;
    transition: all 300ms ease;
    border: 2px solid white;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
}

.right .announcements .updates .message {
    gap: 1rem;
    line-height: 1;
    padding: .5rem 0;
    text-align: center;
}

.message p {
    color: #f44949;
}

.text-muted {
    color: gray;
}


/*-----------------------------
 Announcment Section ends
-------------------------------*/



