body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color: #f44949;
    margin-bottom: 5px;
}

/*-------------------------
  Table section starts
---------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #171822;
    border-radius: 8px;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
td{
    color:#f44949;
}

th {
    background-color: #f44949;
    color: white;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

.fas fa-pencil-alt{
    background-color:trasnparent;
}

/*---------------------
 Table section ends
-----------------------*/

/*-----------------------------
 Announcment Section starts
-------------------------------*/
.right{
    margin-top: 2.2rem;
    padding-left: 1.5rem;/
   }

.right .announcements h2{
    margin-bottom: .8rem;
}
.right .announcements .updates{
    /* background-color: green; */
    padding: 5px;
    /* border-radius: var(--card-border-radius); */
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    border:2px solid white;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
}
.right .announcements .updates:hover{box-shadow: none;}
.right .announcements .updates .message{
    gap: 1rem;
    line-height: 1.5;
    padding: .5rem 0;
}
/*-----------------------------
 Announcment Section ends
-------------------------------*/



